absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
brotlipy==0.7.0
certifi
cffi
charset-normalizer 
click==8.1.3
cryptography
datasets==2.11.0
dill==0.3.6
evaluate==0.4.0
filelock 
flit_core 
frozenlist==1.3.3
fsspec==2023.4.0
gmpy2 
huggingface-hub==0.13.4
idna 
Jinja2 
joblib==1.2.0
MarkupSafe 
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mpmath==1.2.1
multidict==6.0.4
multiprocess==0.70.14
networkx 
nltk==3.8.1
numpy 
packaging==23.0
pandas==2.0.0
Pillow==9.4.0
pyarrow==11.0.0
pycparser 
pyOpenSSL
PySocks
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
regex==2023.3.23
requests
responses==0.18.0
rouge-score==0.1.2
six
sympy 
tokenizers==0.13.3
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.0
tqdm==4.65.0
transformers==4.27.4
triton==2.0.0
typing_extensions 
tzdata==2023.3
urllib3 
xxhash==3.2.0
yarl==1.8.2
